<!DOCTYPE html>
<html lang='en'>

<head>
  <%- include('../includes/head.ejs') %>
  <link rel='stylesheet' href='/css/forms.css' />
  <link rel='stylesheet' href='/css/auth.css' />
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <div class='row justify-content-md-center'>
      <div class='col-xs-12 col-md-6'>
        <div class='container'>
          <% if (errorMessage) { %>
          <div class='alert alert-dismissible alert-danger'>
            <%= errorMessage %>
          </div>
          <% } %>

          <form action='/signup' method='POST' novalidate>
            <div class='form-group <%= validationErrors.find(e => e.path === 'name') ? 'has-danger' : ''%>'>
              <label for='name' class='form-label mt-4'>Name</label>
              <input type='text' class='form-control <%= validationErrors.find(e => e.path === 'name') ? 'is-invalid' : ''%>' id='name' name='name' placeholder='Enter name' />
            </div>
            <div class='form-group <%= validationErrors.find(e => e.path === 'email') ? 'has-danger' : ''%>'>
              <label for='email' class='form-label mt-4'>Email address</label>
              <input type='email' class='form-control <%= validationErrors.find(e => e.path === 'email') ? 'is-invalid' : ''%>' id='email' name='email' placeholder='Enter email' />
            </div>
            <div class='form-group <%= validationErrors.find(e => e.path === 'password') ? 'has-danger' : ''%>'>
              <label for='password' class='form-label mt-4'>Password</label>
              <input type='password' class='form-control <%= validationErrors.find(e => e.path === 'password') ? 'is-invalid' : ''%>' id='password' name='password' placeholder='Enter password' />
            </div>
            <div class='form-group <%= validationErrors.find(e => e.path === 'confirmPassword') ? 'has-danger' : ''%>'>
              <label for='confirmPassword' class='form-label mt-4'>Confirm Password</label>
              <input type='password' class='form-control <%= validationErrors.find(e => e.path === 'confirmPassword') ? 'is-invalid' : ''%>' id='confirmPassword' name='confirmPassword' placeholder='Confirm password' />
            </div>
            <button type='submit' class='btn btn-primary mt-4 w-100'>
              Signup
            </button>
          </form>
        </div>
      </div>
    </div>
  </main>
  <%- include('../includes/end.ejs') %>
</body>

</html>